---
layout: default
title: Data
---
<section>
  <h1>Data</h1>
  <p>Data sets built for my research. Please cite the listed paper when you use them.</p>
  <ul class="papers">
    {% for d in site.data.papers.datasets %}
    <li class="paper">
      <span class="ptitle">{{ d.title }}</span>
      <div class="meta">{{ d.description }}</div>
      <div class="venue">Please cite: {{ d.cite }}</div>
      <div class="links">{% for l in d.links %}<a href="{{ l.url }}">{{ l.label }}</a>{% endfor %}</div>
    </li>
    {% endfor %}
  </ul>
</section>
